/.zenodo.json export-ignore
/.gitlab-ci.yml export-ignore
/.gitignore export-ignore
/gitlab-ci export-ignore
.gitignore export-ignore
/templates export-ignore
__pycache__ export-ignore
/TODO.md export-ignore