name: fordead
channels:
  - conda-forge
  - nodefaults
dependencies:
  - click
  - click-option-group
  - dask
  - eodag >= 3
  - shapely >= 2.0.0
  - fiona
  - geopandas
  - git
  - libgdal
  - matplotlib
  - numpy
  - path >= 17
  - pathlib
  - pip
  - planetary-computer
  - plotly
  # for eodag >= 3 and platform Windows,
  # see orjson dep. in eodag/setup.cfg
  - python < 3.12
  - pystac < 1.12
  - pytest
  - rasterio
  - rioxarray
  - scipy
  - stackstac
  - xarray
  - jsonschema
  - referencing

  # additionnal dependencies for stac-static
  - pygeofilter
  - pyarrow != 15.0.2

  # additionnal dependencies for dinamis-sdk
  - appdirs
  - qrcode
  - pydantic
  - pydantic-settings
  - pip:
    # ensure that stac-geoparquet v0.3.2+ (conda version is too old),
    # dependency of stac-static
    # keep it to 0.3.2 to avoid issue https://github.com/stac-utils/stac-geoparquet/issues/76
    - stac-geoparquet==0.3.2
    - git+https://github.com/jsignell/stac-static
    - dinamis-sdk
    - git+https://gitlab.com/fordead/fordead_package
