# stac-static is not available on pypi
# this the reason it is specified here
# the rest of the dependencies are in pyproject.toml
git+https://github.com/jsignell/stac-static

# thus, installing local repo with pip:
# -requires: python>=3.7, git and pip
# -can be done with:
# pip install -r requirements.txt
# pip install .