/* La règle CSS !important permet de spécifier que la propriété est la plus importante
dans votre feuille CSS en lui donnant un poids plus important.
Sinon renommer le fichier zzz.css pour que ce soit le dernier pris en compte
*/
p {
  text-align: justify !important;
  text-justify: inter-word !important;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: none;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}